
@using MyFirstApp.Models
@model IEnumerable<Product>


<h1>Product list</h1>
<ul>
	@foreach(var product in Model)
	{
		<li>
			<a href="/Product/Details/@product.Id">@product.Name</a> - @product.Price
		</li>
	}
</ul>