
@using MyFirstApp.Models
@model Product

<h1>Edit Product</h1>

<form asp-action="Update" method="post">
    <div>
        <label for="Name">Product Name</label>
        <input type="text" id="Name" name="Name" value="@Model.Name" />
    </div>
    <div>
        <label for="Price">Price</label>
        <input type="number" id="Price" name="Price" step="0.01" value="@Model.Price" />
    </div>
    <div>
        <label for="Description">Description</label>
        <input type="text" id="Description" name="Description" value="@Model.Description" />
    </div>
    <button type="submit">Save Changes</button>
</form>
